[MASTER]
ignore=test_
jobs=0
# So pylint can resolve 'utils' when run from project root
init-hook='import sys, os; sys.path.insert(0, os.path.abspath("."))'

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,n,f,e,x,_
variable-rgx=[a-z_][a-z0-9_]{2,30}
